/* ============================
   Global viewport fix
   ============================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#root {
  width: 100%;
  height: auto;
  min-height: 100%;
}
