// client/src/components/ui/Skeleton/Skeleton.module.scss
@use "../../../styles/blog/tokens.module.scss" as *;

.skeleton {
    background: rgba(255, 255, 255, 0.05);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 25%,
            rgba(255, 255, 255, 0.08) 50%,
            rgba(255, 255, 255, 0.05) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    border-radius: $radius-sm;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.circle {
    border-radius: 50%;
}

.rect {
    border-radius: $radius-md;
}